<div class="mt-4">
    <h1>Update Data</h1>
    <form method="POST" action="/{{menu._id}}?_method=PUT">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Ten bai hat</label>
            <input type="text" class="form-control" value="{{menu.name}}" name="name">

        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">The loai</label>
            <input type="text" class="form-control" value="{{menu.type}}" name="type">

        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Mo ta</label>
            <textarea class="form-control" name="detail">{{menu.detail}}</textarea>

        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Image</label>
            <input type="text" class="form-control" value="{{menu.image}}" name="image">

        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Gia ban</label>
            <input type="text" class="form-control" value="{{menu.price}}" name="price">

        </div>
</div>


<button type="submit" class="btn btn-primary">Update data</button>
</form>
</div>